*{
	font-family:'Roboto',sans-serif;
}


#canvas {
	position: absolute;
	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* object-fit: contain; */
} 

#home {
	/* background-color: blue; */
}

.center {
	margin-top: 5%;
	margin-left: 30%; 
	position: absolute;
  	width: 40%;
  	text-align: center;
  	padding: 10px;
	padding-bottom: 10px;
	background: blue;
	border: solid 4px #fff;
}

#start-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	color: white;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.7);
	overflow-x: hidden;
	transition: 0.5s;
  }


#overlay {
	height: 100%;
	width: 0%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	color: white;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.7);
	overflow-x: hidden;
	transition: 0.5s;
  } 

  .centerOverlay {
	margin-top: 5%;
	margin-left: 30%; 
	position: absolute;
  	width: 40%;
  	text-align: center;
  	padding: 10px;
	padding-bottom: 10px;
	background: blue;
	border-radius: 5px;
}


#start-game {
	display: inline-block;
	padding:0.3em 1.2em;
	margin: auto;
	background-color: blue;
	margin-top: 35px;
	margin-bottom: 20px;
	border:0.16em solid rgba(255,255,255,1);
	border-radius:2em;
	text-decoration:none;
	font-weight: bold;
	font-size: 2.2rem;
	color: white;
	text-align:center;
	transition: all 0.2s;
}

#start-game:hover{
	border:0.25em solid rgba(255,255,255,1);
}

.instructionsHeader{
	font-size: 2rem;
	font-weight: bold;
	color: #FFF;
}

.instructions{
	font-size: 1.3rem;
	color: #FFF;
	font-weight: bold;
}

#game-over-msg{
	font-size: 1.9rem;
	color: #FFF;
	font-weight: bold;
}

#display-score{
	font-size: 1.4rem;
	color: #FFF;
	font-weight: bold;
}


	

@media (max-width:700px) {
    #canvas {
		position: absolute;
		width: 100%;
		height: 60%;
		top: 0;
		left: 0;
	} 
}

